<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="none">
    <test verbose="2" preserve-order="true"
          name="C:/Users/Srinivasa Rao/IdeaProjects/RestAssureAPITesting/src/test/java/com/api/test/POSTAPIRequest.java">
        <classes>
            <class name="com.api.test.POSTAPIRequest">
                <methods>
                    <include name="postRequest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>